@import "tailwindcss";


/*  mouse pointering animation css  */


.grid {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30px);
  grid-auto-rows: 30px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

 /* .cell {
  width: 30px;
  height: 30px;
  background: #f1f1f1;
  z-index: -1;
  opacity: 0.05;
  transition: background 0.4s ease, opacity 0.4s ease;
}  */

.cell.active {
  background: #00bfff;
  opacity: 1;
  z-index: -1;
  transition: background 0.4s ease, opacity 0.4s ease;
}

.cell.flicker {
  background: rgba(0, 170, 255, 0.15);
  opacity: 0.2;
  transition: background 1s ease, opacity 1s ease;
}

.cell.flash {
  background: #f1f1f1;
  opacity: 0.9;
  transition: background 0.3s ease, opacity 0.3s ease;
}


/* end mouse pointering animation */